.bgimg{
    background-image: url('../img/b.jpg');
    background-size: 100% ;
 background-attachment: fixed;
    width: 100%;
    height: 700px;
}
.heardarset{
    padding-top: 240px;
    box-sizing: border-box;

}
.checked{
    color:orange;
}
.mycontact li{
    padding: 100px 0px 0px 50px;
}
.heardarset h1{
    font-size: 42px;
    font-weight: bold;
}
.heardarset h2{
    font-size: 82px;
   
}
.ourservice{
    padding: 200px 0px 0px 60px;
    height: 700px;
}
.educaton{
    padding: 200px 0px 0px 60px;
    height: 700px;
}
.education h1{
    font-weight: bold;
    font-size: 50px;
}
.ourservice h1{
    font-weight: bold;
    font-size: 50px;
}
.myskills{
    padding: 100px 0px 0px 60px;
    height: 700px;
}
.myskills h1{
    font-weight: bold;
    font-size: 40px;
}
.rowsetting{
    margin: 80px 0px;
}
.rowsetting h1{
    margin-top:20px;
    font-size: 20px;
    font-weight:bold;
}
.rowsetting p{
padding: 10px;

}

.imgsetting{
   border-radius: 50%;
   height: 100px;
   width: 100px; 
}
.fa-desktop{
    margin-top: 20px;
}
.fa-user
{
    margin-top: 20px; 
}
.fa-graduation-cap{
    margin-top: 20px; 
}
/* portfoli */
.portfolio{
    /* height: 1000px; */
    width:100%;
    padding: 100px 0px  50px;
}
.portfolio h1{
    font-weight: bold;
    font-size: 50px;
    padding-top:150px;
    font-style:italic;
}
.card{
    margin-top: 40px;
}
/* footer */
.footer{
    height: 50px;

}
.footer h6{
    line-height: 50px
}
/* media  */
@media(min-width:992px){

}
@media(min-width:768px)and (max-width:991px){
.heardarset h2{
    font-size: 42px;

}
.heardarset h2{
    font-size: 62px;
    font-weight: bold;
}
.ourservice{
    height: 1200px;
}
.myskills{
    height: 1200px;
}
.educaton{
padding: 200px 0px 0px 60px;
height: 700px;
font-style:italic;
}
.education h1{
font-weight: bold;
font-size: 24px;
}
}
@media(min-width:575px)and (max-width:767px){

}
@media(min-width:460px)and (max-width:574px){

}
@media(min-width:479px)and (max-width:667px){
    .heardarset h1{
        font-size: 40px;
        font-weight: bold;
    }
    .heardarset h2{
        font-size: 22px;
        
    }
    .ourservice{
        height: 1200px;
    }
    .myskills{
        height: 1200px;
    }
  .educaton{
    padding: 200px 0px 0px 60px;
    height: 700px;
}
.education h1{
    font-weight: bold;
    font-size: 50px;
}
}
/* ccc */
/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #007b5e !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color: rebeccapurple;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}
